BODY {
		 background-color: #DDDDDD;
     font-family: Helvetica, Arial, Verdana, sans-serif;
		 font-size: 10pt;
		 color::#225588;
	}

/* Headers */

H1, H2, H3, H4, H6
{
    background-color: #336699;
		font-family: Helvetica, Arial, Verdana, sans-serif;
		font-weight: bold;
    color:white;
    border-style: solid;
    border-color:#000000;
    border-width:1px;
    padding-left:5;
    padding-right:5;
    padding-top:5;
    padding-bottom:5;
    width:70pc;
}


H5	
{
    background-color: #999999;
		font-family: Helvetica, Arial, Verdana, sans-serif;
		font-weight: bold;
		border-style: solid;
    border-color:#000000;
    border-width:1px;
    padding-left:5;
    padding-right:5;
    padding-top:2;
    padding-bottom:2;
    width:60pc;
    color:#000000;
}

/* Table caption */
Caption
{
		font-family: Helvetica, Arial, Verdana, sans-serif;
		font-weight: bold;
		font-size:11pt;
		color:#336699;
}


A:link
{
		color: #ff4400;
		text-decoration: underline;
}

/* normal paragraph -- no noticeable effect */

P	
{	
		text-indent: 0pc;
		text-align: left;
}

.heading 
{	
		font-weight: bold;
		font-family: Helvetica, Arial, Verdana, sans-serif;
		font-size: 13pt;
		text-indent: 0pc;
	  color:#114477;
		margin-top: 1px;
		margin-bottom: 0px;
		margin-left: 2px;
}


.bodytext 
{     
		font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 12pt;
    text-indent: 0pc;
    color: #225588;
    margin-top: 0px;
    margin-left: 0px;
}


.bodytext10      
{
		font-family: Helvetica, Arial, Verdana, sans-serif;
    font-weight:bold;
    font-size: 10pt;
    text-indent: 0pc;
    text-align: left;
   
    margin-top: 0px;
    margin-left: 0px;
    color: #225588;
}

.bodytextcenter 
{        
		font-family: Helvetica, Arial, Verdana, sans-serif;
	  font-size: 12pt;
	  text-indent: 0pc;
	  text-align: center;
	  color: #225588;
	  margin-top: 0px;
	  margin-left: 0px;
}


.warningtext
{        
		font-family: Courier, monospace;
		color: red;	
} 


/* preformatted text */
PRE    
{        
		font-family: Courier, monospace;      
}

/* table cell and text  colors*/
TD.header
{ 	
		background-color: #336699;
		color:white;
}

TD.top{background-color:#999999;
		color:#000000;
		
		}
TD.left{background-color:#999999;
		color:#000000;
		
		}
TD.data{background-color:white;
		color:#114477;
		}
		
TD.special{background-color:#BBCCCC;
		  color:#336699;
	  }
TD.lightgray
{
	background-color:#DDDDDD;
	color:#114477;
}
	  
.courier_red
{
	font-family: Courier, monospace;
	font-size: 10pt;
	color: red;
}

.courier_blue
{
	font-family: Courier, monospace;
	font-size: 10pt;
	color: blue:
}


		
/* table cell text syle */
.tbl_hd
{   
 		font-family: Helvetica, Arial, Verdana, sans-serif;
    font-weight:bold;
    font-size: 10pt;
    text-indent: 0pc;
    margin-top: 0px;
    margin-left: 0px;
    color: white;
}
		
      	
.tbl_hd_lt
{    
    font-family: Helvetica, Arial, Verdana, sans-serif; 
		font-size:10pt;
    text-indent: 0pc;
    margin-top: 0px;
    margin-left: 0px;
}
		
.tbl_hd_top
{
		font-family: Helvetica,Arial, Verdana, sans-serif;
    font-size:10pt;
    font-weight:bold;
    text-indent: 0pc;
    margin-top: 0px;
    margin-left: 0px; 
}
		
.tbl_data
{      
		font-family: Helvetica, Arial, Verdana, sans-serif;
		font-size:10pt;
    text-indent: 0pc;
    margin-top: 0px;
    margin-left: 0px;
}